html,
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'sans-serif';
  scroll-behavior: smooth;
}
body {
  background-color: #dadada;
  position: relative;
}
nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

nav a {
  color: #121212;
  z-index: 2;
}
nav a:active {
  color: crimson;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('/img/black-smoke-white-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
footer {
  background-color: #212121;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  padding: 10px;
  color: #dadada;
  text-align: center;
}
.wrapper .title {
  font-size: clamp(2rem, 10vw, 6rem);
  color: #343434;
  z-index: 2;
}
.wrapper .drama {
  z-index: 2;
  font-size: clamp(0.66rem, 5vw, 2rem);
  color: #454545;
}

.video-player {
  height: 100vh;
  background: #f4f4f4;
  position: relative;
}

.wrapper .overlay {
  z-index: 0;
  position: absolute;
  inset: 0;
  background: rgba(250, 250, 250, 0.5);
}

.video-player video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
